// Tooltip
// ==================================================
.tooltip,
[data-tooltip] {
  position: relative;

  // Bubble
  // ==================================================
  &::before {
    color: $tooltips-color;
    text-align: $tooltips-text-align;
    padding: $tooltips-padding-y $tooltips-padding-x;
    border-radius: $tooltips-border-radius;
    background-color: $tooltips-background-color;
    @if $tooltips-background-opacity > 0 {
      background-color: rgba($tooltips-background-color, $tooltips-background-opacity);
    }
    content: attr(data-tooltip);
    width: 10000%;
    max-width: map-get($tooltips-size-map, default);
    @supports (width: 1vw) {
      width: 90vw;
    }
    left: 50%;
    bottom: 100%;
    transform-origin: bottom center;
  }

  // Tail
  // ==================================================
  &::after {
    @if $tooltips-tail == true {
      width: $tooltips-tail-width;
      height: 100%;
      border-left: $tooltips-tail-width / 2 solid transparent;
      border-right: $tooltips-tail-width / 2 solid transparent;
      border-top: $tooltips-tail-height solid $tooltips-tail-background-color;
      @if $tooltips-tail-background-opacity > 0 {
        border-top: $tooltips-tail-height solid rgba($tooltips-tail-background-color, $tooltips-tail-background-opacity);
      }
    }
    @else {
      width: 100%;
      height: 100%;
    }
    padding-bottom: $tooltips-spacing;
    content: "";
    top: 0;
    left: 50%;
    transform-origin: top center;
  }

  &::before,
  &::after {
    opacity: 0;
    z-index: -1;
    position: absolute;
    $transform: translateX(-50%) translateY($tooltips-translate-offset);
    @if $tooltips-transform-scale == true {
      $transform: $transform + scale($tooltips-transform-scale-from);
    }
    transform: $transform;
    transition: opacity $tooltips-transition-duration cubic-bezier(0.1, 1, 0.4, 1),
                transform $tooltips-transition-duration cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  // Hover
  // ==================================================
  &:hover,
  &.is-on {
    &::before,
    &::after {
      $translateY: $tooltips-spacing;
      @if $tooltips-tail == true {
        $translateY: $translateY + $tooltips-tail-height;
      }

      opacity: 1;
      z-index: 1;
      transition: opacity $tooltips-transition-duration cubic-bezier(0.1, 1, 0.4, 1),
                  transform $tooltips-transition-duration cubic-bezier(0.215, 0.61, 0.355, 1);
      @if $tooltips-transform-scale == true {
        transform: translateX(-50%) translateY($translateY * -1) scale(1);
      }
      @else {
        transform: translateX(-50%) translateY($translateY * -1);
      }
    }
  }
}



// Classes based on size map
// ==================================================
@each $tooltip-size-name, $tooltip-size-value in $tooltips-size-map {
  .tooltip--#{$tooltip-size-name}::before {
    max-width: $tooltip-size-value;
  }
}



// Fit class
// ==================================================
.tooltip--fit::before {
  width: 100%;
  max-width: inherit;
}
